@import url(http://fonts.googleapis.com/css?family=Lobster|Open+Sans|Open+Sans+Condensed:300|Oswald|Pacifico);

/** Site-wide Custom elements **/
html,body{
  height:100%;
  font-family: 'Open-sans', sans-serif;
}
body > .hundred {
  padding-top: 35px;
  padding-bottom: 60px;
  height:100%;
  width:100%;
}

footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: #f8f8f8;
  border-color: #e7e7e7;
  line-height: 40px;
  padding-top: 10px;
  color: #777;
}
nav {padding: 3px}

.center {margin: auto;}

.jumbotron {height:390px;}

.padding20 {padding:20px;}

.pt20 {padding-top: 20px;}

/** Background Colors **/
.burg-back {
	background-color: #8f1837;
}
.teal-back {
	background-color: #0d7272;
}
.light-back {
	background-color: #f7f8f8;
}

/** Colors **/
.burg {
	color: #8f1837;
}
.teal {
  color:#0d7272;
}
.dark {
  color: #777;
}
.light {
  color:#e7e7e7;
}

/** Fonts and text **/
.oswald {font-family: Oswald;}
.lobster {font-family: Lobster;}
.pacifico {font-family: Pacifico;}

.hugetext {font-size: 8.5em;}
.hugetextplus {font-size: 9.2em; letter-spacing: 4px;}

.lineheight {line-height: 1.1em;}

.bold {font-weight: bold;}
.light {font-weight: lighter;}

/** Custom main navigation **/
.navbar-default .navbar-brand {
  font: 28px Lobster;
  padding:5px 10px;
}
.navbar-default .navbar-text {
  color: #777;
}
.navbar-default .navbar-nav > li > a {
  color: #777;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #fff;
  background-color: #8f1837;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #8f1837;
}
.active {
  color: #fff !important;
  background-color: #8f1837;
}

/** Resume Styles **/
.resumeheads {
	font-weight: bold;
	font-variant: small-caps;	
}
.resume li {
	list-style: square;
	padding: 2px 0 2px 0;
}
.resumejobs {
  font-weight:bold;
}

/** Contact Styles **/
.contactform {
  max-width: 400px;
}
.btn:hover,
.btn:focus,
.btn.focus {
  background-color: #2E5387;
  color: #fff;
  text-decoration: none;
}

/** Blog Styles 

#sidebar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#sidebar ul li {
  padding: 10px 0 10px 10px;
}

#sidebar ul li:nth-child(odd) {
  background-color: #F8F8F2;
}

#sidebar h2 {
  font-variant: small-caps;
}

#sidebar hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 2px dotted #eee;
}
#sidebar .searchbar {
  border: 1px solid #eee;
  padding: 5px;
  font-weight: normal;
  width:100%;
}**/