/** Background Colors **/
.pinky-back {
	background-color: #ea7979;
}
.icy-blue-back {
	background-color: #C8D7E3;
}
.black-back {
	background-color: #000;
}
.navy-back {
	background-color: #2E5387;
}
.medium-blue-back {
	background-color: #98B1C4;
}

/** Colors **/
.icy-blue {
	color: #C8D7E3;
}
.white {
  color:#fff;
}
.navy {
  color: #2E5387;
}

/** Custom main navigation **/
.navbar-default .navbar-text {
  color: #2E5387;
}
.navbar-default .navbar-nav > li > a {
  color: #2E5387;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #fff;
  background-color: #ea7979;
  border-radius: 4px;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: #ea7979;
  border-radius: 4px;
}
.navbar-default .navbar-nav > li + li {
  margin-left: 2px;
}

/** Custom elements **/
body > .container {
  padding-top: 60px;
  padding-bottom: 60px;
}
footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: #2E5387;
  line-height: 40px;
  padding-top: 10px;
  color: #fff;
}
nav {padding: 3px}

/** Resume Styles **/
.resumeheads {
	font-weight: bold;
	font-variant: small-caps;	
}
.resume li {
	list-style: square;
	padding: 2px 0 2px 0;
}
.resumejobs {
  font-weight:bold;
}

/** Contact Styles **/
.contactform {
  max-width: 400px;
}
.btn:hover,
.btn:focus,
.btn.focus {
  background-color: #2E5387;
  color: #fff;
  text-decoration: none;
}

/** Blog Styles **/

#sidebar ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#sidebar ul li {
  padding: 10px 0 10px 10px;
}

#sidebar ul li:nth-child(odd) {
  background-color: #F8F8F2;
}

#sidebar h2 {
  font-variant: small-caps;
}

#sidebar hr {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 2px dotted #eee;
}
#sidebar .searchbar {
  border: 1px solid #eee;
  padding: 5px;
  font-weight: normal;
  width:100%;
}